@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: 'SUITE';
    src: url('fonts/SUITE-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'SUITE-Extrabold';
    src: url('fonts/SUITE-ExtraBold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'SanTokki';
    src: url('fonts/HSSanTokki2.0.ttf') format('truetype');
  }

  #custom-popup {
    font-family: 'SUITE', sans-serif;
  }

  .SanTokki {
    font-family: 'SanTokki', sans-serif;
  }