/* General styles */
body {
    background-color: #3368BD;
    font-family: 'SUITE', sans-serif;
    color: white;
    width: 300px;
    height: auto;
    text-align: center;
    margin: 0;
  }

img{
    width: 250px;
}

.report-container {
    text-align: center;
    padding: 20px;
}
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.highlight {
    color: #C5BBFF;
}
  
.lighthouse-icon img {
    margin-top: 20px;
    width: 100px;
    height: auto;
}
  
.title {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 20px;
}
  
/* Input form styling */
.input-container {
    margin-top: 0px;
}
  
.input-container label {
    display: block;
    font-size: 1rem;
    margin-bottom: 8px;
    color: white;
    text-align: left;
    margin-left: 20px;
}
  
.input-container input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(50, 50, 50);
    border: 2px solid rgba(255, 255, 255, 0.7);
}
  
#submitBtn {
    background-color: white;
    color: #3368BD;
    padding: 10px 20px;
    border: 3px solid;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}
  
#submitBtn:hover {
    background-color: #3368BD;
    color: white;
}
  
/* Home button styling */
.home-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
  
.home-button:hover {
    opacity: 0.8;
}
  
/* Result message */
#resultMessage {
    color: #FF4D4D;
    background-color: white;
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
}
  